@use '/src/styles/variables.scss' as *;

.formWrapper {
  position: relative;
  padding: 25px;
  width: 90%;
  transform: translateY(-40px);

  h2, p {
    text-align: center;
  }
}

.titleWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 25px 20px 25px;

  img {
    width: 23%;
  }

  img:nth-of-type(2) {
    transform: rotate(180deg);
  }
}

.underline {
  width: 140px;
  margin: 0 auto;
  display: block;
}

.newspaper {
  position: absolute;
  top: 0;
  left: calc(50% - 47.5%);
  width: 95%;
  height: 100%;
  z-index: -1;
}

.namesWrapper {
  border: 1px dashed black;
  padding: 20px;
  margin: 20px auto 30px auto;
  width: 70%;
}

@media (min-width:$media-s-tablet) {
  .underline {
    width: 200px;
  }

  .titleWrapper {
    margin-top: 30px;
  }

  .formWrapper {
    margin-top: 40px;
  }
}
