@use '/src/styles/variables.scss' as *;

.newspaper {
  position: absolute;
  display: block;
  width: 90%;
  z-index: -1;
}

.start {
  position: relative;
  margin-top: 90px;
  padding-bottom: 35px;

  .newspaper {
    top: 0;
    left: calc(50% - 44%);
    height: 100%;
  }

  .titleWrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    gap: 10px;
    justify-content: center;

    img {
      width: 15%;
    }

    img:nth-of-type(2) {
      transform: rotate(180deg);
    }
  }
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  width: 75%;
  margin: 0 auto;
}

.card {
  position: relative;

  .timeDescriptionWrapper {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  h4 {
    font-size: 30px;
  }

  p {
    padding: 0 10px;
  }

  &.long .timeDescriptionWrapper {
    top: 40%;
  }
}

.sectionTitle {
  text-align: center;
}

.core {
  position: relative;
  padding-bottom: 65px;

  .newspaper {
    top: -40px;
    left: calc(50% - 46%);
    height: 100%;
  }
}

.party {
  position: relative;
  transform: translateY(-70px);

  .newspaper {
    left: calc(50% - 44%);
    height: 100%;
  }

  .partyTitle {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .partyOrPolice {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0 10px 0;
  }

  .timeDescriptionWrapper {
    padding: 0 10px 0 0 ;

  }

  .police {
    height: 100%;
    width: 100%;
  }

  .card {
    padding-bottom: 10px;
  }
}

.partyTitleContent {
  position: relative;

  img {
    position: absolute;
    top: 7px;
    left: 20%;
    width: 60%;
  }
}

@media (min-width: $media-s-tablet) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .card .timeDescriptionWrapper {
    padding: 40px;
  }

  .core .timeDescriptionWrapper{
    padding: 10px;

    p {
      font-size: 14px;
    }
  }

  .partyTitleWrapper {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;

    h4 {
      font-size: 25px;
    }
  }

  .partyTitleContent {
    position: relative;

    img {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
    }
  }

  .wide {
    img {
      position: absolute;
      height: calc(103%);
      left: -8%;
    }
  }

  .card.long .timeDescriptionWrapper {
    top: 48%;
  }
}

@media (min-width: $media-s-desktop) {

  .timeDescriptionWrapper {
    padding: 30px;
  }

  .card {
    h4 {
      font-size: 40px;
    }
  }

  .core .timeDescriptionWrapper{
    padding: 30px;
    
    p {
      font-size: 18px;
    }
  }

  .start .titleWrapper {
    img {
      width: 21%;
    }
  }
}
