@use "/src/styles/variables.scss" as *;

.wrapper {
  position: relative;
  padding-bottom: 40px;

  margin: 0 auto;
}

.heading {
  display: flex;
  justify-content: center;
}

.icon {
  width: 25px;
  padding-right: 7px;
}

.newspaper {
  position: absolute;
  top: -50px;
  width: 100%;
  height: calc(100% + 50px);
  z-index: -1;
}

.content {
  width: 69%;
  margin: 0 auto 30px auto;
  border: 1px dashed #000;
  padding: 20px;
}

@media (min-width: $media-s-tablet) {
  .wrapper {
    padding-top: 50px;
  }

  .newspaper {
    top: -20px;
  }
}
