@use '/src/styles/variables.scss' as *;

.fieldset {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border: 2px solid;
}

.personalMenuWrapper {
  padding-bottom: 26px;

  p {
    margin: 0 0 10px 0;
  }
}

.legend {
  font-weight: bold;
}

.optionsWrapper {
  display: flex;
}

.inputWrapper {
  padding-right: 10px;
}