@import '/src/styles/variables.scss';

.sectionTitle {
    margin: 50px 0 20px 0;
}

.detailsWrapper {
    margin: 0 25px;

    h2 {
        margin: 0;
        text-align: center;
    }

    @media (min-width:$media-s-tablet) {
        margin: 0;
    }
}

.detailItem {
    p {
        margin: 0;
    }

    ul {
        padding: 0 20px 20px 20px;
    }

    a {
        color: #298c53;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
            color: #298c53;

            img {
                transform: scale(1.003);
                box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px -3px;
            }
        }
    }

    img {
        margin-top: 10px;
        width: 100%;
    }
}

.dressCodeWrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: white;
    margin-top: 50px;

    @media (min-width:$media-s-tablet) {
        // justify-content: space-between;
        margin: 0 auto;
        max-width: 600px;
    }

    @media (min-width:$media-s-desktop) {
        max-width: 1000px;
    }
}

.dressCodeContent {
    padding: 30px 0;

    @media (min-width:$media-s-tablet) {
        display: flex;
        flex-flow: column;
    }

    p {
        text-align: center;
        margin: 16px 0 5px 0;
    }

}

.leftLeaf,
.rightLeaf {
    max-width: 33%;
}

.locationDetailsWrapper{
    background: white;
    padding: 30px 25px 30px 25px;
    margin-top: 50px;
    
    ul {
        list-style-type: "- ";
        padding: 0;
        margin: 0 0 0 15px;
    }
    
    @media (min-width:$media-s-tablet) {
        max-width: calc(600px - 50px);
        margin: 60px auto;
    }
    
    @media (min-width:$media-s-desktop) {
        padding: 30px 50px 50px 50px;
        max-width: calc(1000px - 100px);
    }
}

.locationAndTransportHeadline {
    padding-bottom: 16px;
}

.transportAndLocationContentWrapper {
    p {
        margin-top: 20px;
    }

    @media (min-width:$media-s-tablet) {
        padding: 0 20px;
        min-width: 33%;
    }
}
