@use "/src/styles/variables.scss" as *;

.newspaper {
  position: absolute;
  display: block;
  width: 90%;
  z-index: -1;
}

.locationWrapper {
  position: relative;
  padding-bottom: 35px;

  .newspaper {
    top: 0;
    left: calc(50% - 44%);
    height: 100%;
  }

  .titleWrapper {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    gap: 3px;
    justify-content: center;

    img {
      width: 13%;
    }

    img:nth-of-type(2) {
      transform: rotate(180deg);
    }
  }
}

.locationContentWrapper {
  width: 80%;
  margin: 0 auto;
}

.sectionTitle {
  text-align: center;
}

.cabinWrapper {
  display: grid;
  grid-template-columns: 45% 1fr;
  margin-bottom: 20px;
  gap: 10px;

  .cabin {
    width: 100%;
    height: 100%;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}

.pinIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.carrageWrapper {
  position: relative;
}

.carrageIconsWrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;

  img {
    width: 100%;
  }
}

.left,
.right {
  transform: translateY(50%);
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;

  .link,
  p {
    font-size: 10px;
    margin: 0;
  }

  .textBox {
    text-align: center;
    word-break: break-word;
    border: 1px solid black;
    padding: 10px 3px;

    h4 {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $media-s-desktop) {
  .locationContentWrapper {
    width: 70%;
  }

  .locationWrapper {
    .titleWrapper {
      padding-top: 60px;
    }
  }

  .cabinWrapper {
    gap: 30px;
  }

  .boxes {
    .textBox {
      padding: 30px 0;
  
      .link,
      p {
        font-size: 16px;
        margin: 0;
      }

      h4 {
        font-size: 20px;
      }
  
      .link {
        margin-top: 10px;
      }
    }
  }

}
