/*
 * Media Query Sizes / Breaking Points
 */
 $media-hristo: 465px;
 $media-s-tablet: 768px;
 $media-sm-tablet: 992px;
 $media-s-desktop: 1024px;
 $media-m-desktop: 1280px;
 $media-l-desktop: 1920px;