@use "/src/styles/variables.scss" as *;

.footerWrapper {
  position: relative;
  padding-bottom: 35px;
  margin-top: 30px;
  overflow: hidden;

  .newspaper {
    position: absolute;
    top: 0;
    left: calc(50% - 44%);
    width: 90%;
    height: 150%;
    z-index: -1;
  }

  .titleWrapper {
    padding: 40px 0 10px;
  }
}

.sectionTitle {
  text-align: center;
}

@media (min-width: $media-s-desktop) {
  .footerWrapper .titleWrapper {
    padding-top: 60px;
  }
}
